.m-t-0 {
  margin-top: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.m-t-5 {
  margin-top: 5px;
}

.p-t-5 {
  padding-top: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.p-r-25 {
  padding-right: 25px;
}

.m-x-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.m-y-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-x-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.m-y-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-x-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.m-y-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-x-15 {
  margin-right: 15px;
  margin-left: 15px;
}

.m-y-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-x-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.m-y-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-x-25 {
  margin-right: 25px;
  margin-left: 25px;
}

.m-y-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-x-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.p-y-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.p-x-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.p-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-x-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.p-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-x-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.p-y-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-x-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.p-y-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-auto {
  margin: auto;
}

.container {
  height: 97vh;
}

html, body, .App, #root {
  height: 100%;
}

body {
  color: #737373;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  outline: none;
  border: none;
  background-color: #fff;
  color: #737373;
  cursor: pointer;
}

.m-b-40 {
  margin-bottom: 40px;
}

p {
  margin: auto;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

nav.topnav {
  background-color: #1479d3e0;
  font-size: 20px;
}

nav.topnav ul {
  list-style-type: none;
  text-align: center;
}

nav.topnav li.topnav-left {
  display: block;
  float: left;
}

nav.topnav a:link,
nav.topnav a:visited {
  color: #737373;
  text-decoration: none;
  cursor: pointer;
}

nav.topnav li.topnav-left p {
  display: inline;
  color: #fff;
}

nav.topnav li.topnav-center {
  display: inline-block;
  border-radius: 5px;
  height: 38px;
  background-color: #c7ddf5;
}

nav.topnav li.topnav-center button.search-icon i {
  font-size: 19px;
}

nav.topnav li.topnav-center button.search-icon {
  border: none;
  height: 36px;
  width: 40px;
  color: #6b93ef;
  background-color: transparent;
}

nav.topnav li.topnav-center .search-input {
  border: none;
  height: 36px;
  background-color: transparent;
  width: 82%;
  outline: none;
  font-size: 17px;
  color: #6b93ef;
}

nav.topnav li.topnav-center .search-input::-webkit-input-placeholder {
  color: #6b93ef;
  font-size: 17px;
}

nav.topnav li.topnav-center .search-input:-ms-input-placeholder {
  color: #6b93ef;
  font-size: 17px;
}

nav.topnav li.topnav-center .search-input::-ms-input-placeholder {
  color: #6b93ef;
  font-size: 17px;
}

nav.topnav li.topnav-center .search-input::placeholder {
  color: #6b93ef;
  font-size: 17px;
}

.page-content {
  height: 94%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  width: 100%;
}

.sidebar {
  width: 22%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  height: 100%;
  font-size: 18.5px;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  background-color: #eee;
  height: 94%;
}

.sidebar ul a:link,
.sidebar ul a:visited {
  color: #737373;
  text-decoration: none;
  cursor: pointer;
}

.sidebar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #eee;
  cursor: pointer;
}

.sidebar ul li i {
  width: 22px;
}

.sidebar ul li ul {
  width: 100%;
  list-style-type: none;
  padding-left: inherit;
}

.sidebar ul li ul li {
  cursor: pointer;
}

.sidebar li.active {
  background: #c5c5c578;
  font-weight: bold;
}

.sidebar .sidenav-blue {
  color: #7f9bef;
}

.sidebar .add-list-li {
  position: -webkit-sticky;
  position: sticky;
  bottom: 5px;
}

.sidebar .add-list-li p {
  margin: 0;
  margin-left: 25px;
  width: 100%;
}

.sidebar .add-list-li input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #737373;
  background-color: #ededed;
}

.sidebar .add-list-li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #6b93ef;
  font-weight: bold;
}

.sidebar .add-list-li input:-ms-input-placeholder {
  font-size: 16px;
  color: #6b93ef;
  font-weight: bold;
}

.sidebar .add-list-li input::-ms-input-placeholder {
  font-size: 16px;
  color: #6b93ef;
  font-weight: bold;
}

.sidebar .add-list-li input::placeholder {
  font-size: 16px;
  color: #6b93ef;
  font-weight: bold;
}

.sidebar .add-list-li input:focus {
  background-color: #ffff;
  border: 1px solid #737373;
}

.todo {
  width: 70%;
  display: none;
  -webkit-transition: width 0.40s;
  transition: width 0.40s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.todo .task-content {
  height: 100%;
  width: 75%;
}

.todo .task-content ul.list {
  list-style-type: none;
}

.todo .task-content .heading {
  width: 100%;
}

.todo .task-content .heading i {
  font-size: 20px;
}

.todo .task-content .heading .heading-left {
  display: inline-block;
  padding: 15px;
  font-size: 28px;
  color: #6b93ef;
  font-weight: bold;
}

.todo .task-content .heading .heading-left input.list-rename-input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 28px;
}

.todo .task-content .heading .heading-left input.list-rename-input::-webkit-input-placeholder {
  font-size: 28px;
}

.todo .task-content .heading .heading-left input.list-rename-input:-ms-input-placeholder {
  font-size: 28px;
}

.todo .task-content .heading .heading-left input.list-rename-input::-ms-input-placeholder {
  font-size: 28px;
}

.todo .task-content .heading .heading-left input.list-rename-input::placeholder {
  font-size: 28px;
}

.todo .task-content .heading .heading-left input.list-rename-input:focus {
  border: 1px solid black;
  width: 100%;
}

.todo .task-content .heading .heading-right {
  padding: 15px;
  color: #6b93ef;
  float: right;
  text-align: right;
}

.todo .task-content .heading .heading-right i {
  display: inline-block;
}

.todo .task-content .heading .heading-right i.delete-list-icon {
  cursor: pointer;
  margin-right: 10px;
  color: #ff0000bd;
}

.todo .task-content .heading .heading-right button {
  font-size: 18.5px;
  display: inline;
  font-weight: bold;
  color: #6b93ef;
}

.todo .task-content ul.tasks {
  overflow: auto;
  height: 91%;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}

.todo .task-content ul.tasks li.task {
  -webkit-transition: height 3s;
  transition: height 3s;
  padding: 20px 0px;
  margin: 0px 2.5%;
  word-break: break-all;
  border-bottom: 1px solid #6e6e6e52;
  position: relative;
}

.todo .task-content ul.tasks li.task i {
  position: absolute;
  top: 35%;
  font-size: 20px;
  padding: 5px 6px;
}

.todo .task-content ul.tasks li.task div {
  display: inline-block;
  width: 90%;
  margin-left: 45px;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  word-break: break-all;
}

.todo .task-content ul.tasks li.task i.fa-check-circle-o + div {
  text-decoration: line-through;
}

.todo .task-content ul.tasks li.task .fav {
  float: right;
  margin-right: 10px;
}

.todo .task-content ul.tasks li.task input.add-input {
  border: none;
  outline: none;
  width: 80%;
  height: 61px;
  margin-left: 45px;
  color: #737373;
}

.todo .task-content ul.tasks li.task input.add-input:placeholder {
  font-size: inherit;
  color: #737373;
}

.todo .task-content ul.tasks li.task .add-button {
  position: static;
  margin: 21px 30px;
  float: right;
  font-size: 17px;
  color: #6b93ef;
  display: none;
}

.todo .task-content ul.tasks li.task .active {
  display: block;
}

.todo .task-content ul.tasks li:last-child {
  position: -webkit-sticky;
  position: sticky;
  padding: 0;
  bottom: 5px;
  background: white;
}

.todo .task-content ul.tasks li:not(:last-child) {
  cursor: pointer;
}

.todo .task-content ul.tasks li.active {
  background-color: #c7ddf54a;
}

.todo .task-content ul.tasks li.active button {
  background-color: transparent;
}

.todo .task-content ul.tasks a:link,
.todo .task-content ul.tasks a:visited {
  color: #737373;
  text-decoration: none;
  cursor: pointer;
}

.show-todo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.task-description {
  width: 30%;
  overflow: hidden;
  background-color: #ededed;
  -webkit-transition: width 0.40s;
  transition: width 0.40s;
}

.task-description a:link,
.task-description a:visited {
  color: #737373;
  text-decoration: none;
  cursor: pointer;
}

.task-description .card {
  font-size: 18.5px;
  border: 1px solid #eee;
  margin: 5px 10px 15px 10px;
  padding: 5px;
  background-color: #fff;
}

.task-description .card i {
  font-size: 18px;
  margin-right: 12px;
}

.task-description .task-details {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.task-description .task-details i.fa-check-circle-o + textarea {
  text-decoration: line-through;
}

.task-description .task-details i {
  padding: 10px 2px;
  display: inline-block;
  width: 10%;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
}

.task-description .task-details .fav {
  display: inline-block;
  width: 10%;
  text-align: center;
  float: right;
}

.task-description .task-details .task-text {
  display: inline-block;
  font-weight: bold;
  min-width: 80%;
  margin-left: 5px;
  font-size: 21px;
  max-height: 155px;
  overflow: auto;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.task-description .add-to-day button {
  font-size: 16px;
  width: 100%;
  height: 45px;
  text-align: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.task-description .settings i {
  margin: auto 10px;
}

.task-description .settings > div {
  font-size: 16px;
  width: 100%;
  text-align: left;
  height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.task-description .settings div:not(:first-child) {
  padding-top: 10px;
}

.task-description .settings div:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #6e6e6e52;
}

.task-description .settings .due-date-picker {
  margin: auto;
  height: 16px;
  font-size: 13px;
  display: none;
  background-color: transparent;
  border: 1px solid #3a6bff;
  color: inherit;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
}

.task-description .settings .reminder-date-picker {
  margin: auto;
  height: 16px;
  font-size: 13px;
  display: none;
  background-color: transparent;
  border: 1px solid #3a6bff;
  color: inherit;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
}

.task-description .settings .repeat-selection {
  width: 32%;
  margin: auto;
  border: none;
  background: transparent;
  border: 1px solid #3a6bff;
  font-size: 15.5px;
  color: inherit;
  border-radius: 5px;
  display: none;
  outline: none;
}

.task-description .settings .display-inline-block {
  display: inline-block;
}

.task-description .letter-count {
  float: right;
  margin: auto 20px;
}

.task-description textarea.note-card {
  font-size: 16.5px;
  border: 1px solid #eee;
  margin: 10px;
  width: 89%;
  height: 15%;
  padding: 13px;
  color: #737373;
  background-color: #fff;
  outline: none;
  resize: none;
}

.task-description textarea.note-card::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 16.5px;
}

.task-description textarea.note-card:-ms-input-placeholder {
  font-family: inherit;
  font-size: 16.5px;
}

.task-description textarea.note-card::-ms-input-placeholder {
  font-family: inherit;
  font-size: 16.5px;
}

.task-description textarea.note-card::placeholder {
  font-family: inherit;
  font-size: 16.5px;
}

.task-description .bottom-settings {
  position: relative;
  top: 60px;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  width: 100%;
  border-top: 1px solid #6e6e6e52;
  padding-top: 10px;
  background-color: transparent;
}

.task-description .bottom-settings button.toggle-slider {
  width: 10%;
  font-size: 18px;
  background-color: transparent;
}

.task-description .bottom-settings button.toggle-slider i {
  color: #737373;
}

.task-description .bottom-settings button.delete-task {
  width: 10%;
  font-size: 18px;
  background-color: transparent;
  color: #6b93ef;
  border-radius: 50%;
}

.task-description .bottom-settings button.delete-task i {
  color: #ff0000bd;
}

.list-open {
  width: 55%;
  -webkit-transition: width 0.40s;
  transition: width 0.40s;
}

.desc-open {
  width: 30%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: width 0.40s;
  transition: width 0.40s;
  display: inline;
}

.sidebar-collapse {
  width: 4%;
}

.sidebar-collapse ul a li p,
.sidebar-collapse ul a li div,
.sidebar-collapse ul li ul li p,
.sidebar-collapse ul li ul li div {
  display: none;
  white-space: nowrap;
}

.todo-full-width {
  width: 100%;
}

.my-day {
  margin: auto;
  display: none;
}

.show-day {
  display: inline;
}
/*# sourceMappingURL=style.css.map */